.ant-input-group-addon {
  background: red;
}

.container {
  .filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .action {
      .create {
        margin-right: 5px;
      }
    }
    .search {
      .ant-input-group-addon {
        background: #1677ff;
        &:hover {
          background-color: #3f96ff;
        }
      }
    }
  }
}
